POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
# SECRET_KEY can be generated with:
#   python -c 'from django.core.management import utils; print(utils.get_random_secret_key())'
SECRET_KEY='django-insecure-#8=34bnllv4$f0ln^#km#)5q7ov!e7p)@!%^1_cc_ediw2q=)0'
# Uncomment the below DEBUG line for dev environment
#DEBUG=true
SUPERUSER_USERNAME=root
SUPERUSER_PASSWORD=root
SUPERUSER_EMAIL=root@localhost
APP_PORT=8000
TIME_ZONE=UTC
CSRF_TRUSTED_ORIGINS=http://localhost:$APP_PORT
ALLOWED_HOSTS=*


#EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
#EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
#EMAIL_HOST=mail
#EMAIL_PORT=587
#EMAIL_HOST_USER=
#EMAIL_HOST_PASSWORD=
#EMAIL_USE_TLS=False
#EMAIL_USE_SSL=False
#EMAIL_TIMEOUT=None
#EMAIL_SSL_KEYFILE=None
#EMAIL_SSL_CERTFILE=None
#DEFAULT_FROM_EMAIL=webmaster@localhost
